<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-start flex-column min-vh-100">
	<div class="container"> <!-- 전체 div 컨테이너 설정 -->
		<div class="mt-5"> <!-- 경매 컨테이너 설정 -->
			<div class="d-flex justify-content-between mb-2">
				<span class="display-4">경매</span>
				<div class="mt-4">
					<a href="/item/item-create-view" class="modern btn btnCheck">등록하기</a>
				</div>
			</div>
			<div class="item-grid">
                <div th:each="item : ${auctionList}">
                	<div th:onclick="|location.href='@{/auction/auction-detail-view(itemId=${item.id})}'|" class="item-card">
                		<div class="mt-3 mr-1"> 
	                    <img th:src="${item.imageUrl}" class="img"> <br>
							<div>
								<span th:text="${item.title}" class="font-weight-bold">제목</span> <br>
								<span>판매자 : </span>
								<span th:text="${item.loginId}">글쓴이</span>
							</div>
	                    </div>
                	</div>
                </div>
            </div>
		</div> <!-- 경매 컨테이너 끝 -->
		
		<hr>
		
		<div class="mt-4"> <!-- 경매 컨테이너 설정 -->
			<span class="display-4">키보드</span>
			<div class="item-grid">
                <div th:each="item : ${itemKeyBoardList}" th:onclick="|location.href='@{/item/item-detail-view(itemId=${item.id})}'|" class="item-card">
                    <div class="img container">
                    	<img th:src="${item.imageUrl}" alt="Item image">
                    </div>
                    <div class="details">
                        <span th:text="${item.title}" class="font-weight-bold">제목</span> <br>
                        <span data-th-text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}">가격</span> <br>
                        <span>판매자 : </span>
                        <span th:text="${item.loginId}">글쓴이</span>
                    </div>
                </div>
            </div>
		</div> <!-- 경매 컨테이너 끝 -->
		
		<div class="mt-5"> <!-- 경매 컨테이너 설정 -->
			<span class="display-4">키캡</span>
			<div class="d-flex">
				<div class="item-grid">
                <div th:each="item : ${itemKeyCapList}" th:onclick="|location.href='@{/item/item-detail-view(itemId=${item.id})}'|" class="item-card">
                    <img th:src="${item.imageUrl}" alt="Item image">
                    <div class="details">
                        <span th:text="${item.title}" class="font-weight-bold">제목</span> <br>
                        <span data-th-text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}">가격</span> <br>
                        <span>판매자 : </span>
                        <span th:text="${item.loginId}">글쓴이</span>
                    </div>
                </div>
            </div>
			</div>
		</div>
	</div>
</section>
</html>