<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
      
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50">
		<h1>글목록</h1>
		
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>작성날짜</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${itemList}">
					<td th:text="${item.id}">1</td>
					<!-- 앞에 th를 붙이고, 그 뒤에 ||를 붙여서 타임리프를 사용하게 되는 것이다. -->
					<!-- @{}을 사용해서 만드는 방법 -->
					<!-- postId = ${안에 계속이런식으로 다른것도 붙일수있다.} -->
					<!--   <td><a th:href="@{/post/post-detail-view(postId=${post.id}, userId=13})}" th:text="${post.subject}"></a></td> a태그를 넣는다고 하더라도 타임리프가 우선이니 따로 달수가 없다. --> 
					<td><a th:href="|/item/item-detail-view?itemId=${item.id}|" th:text="${item.title}"></a></td>
					<td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2024-07-16</td> <!-- temporals.format(들어갈 함수, "나타내고 싶은 함수") -->
					<td>
						<button class="btn custom-btn btn-danger item" th:data-item-id="${item.id}">삭제</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function(){
		$(".item").on("click", function(){
			let num = $(this).data("item-id");
			// alert(num);
			
			$.ajax({
				type: "delete"
				, url : "/item/delete"
				, data : {"itemId" : num}
				, success:function(data) {
					if(data.code == 200) {
						alert("삭제가 완료되었습니다.");
						location.reload(true);
					} else {
						alert("문제가 발생하였습니다.");
					}
				}
				, error:function(e) {
					alert("서버에 문제가 발생하였습니다");
				}
			});
		});
	});
    </script>
</th:block>