<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
      
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50">
		<h1>글목록</h1>
		
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>이름</th>
					<th>작성날짜</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${userList}">
					<td th:text="${user.id}">1</td> 
					<td th:text="${user.name}"></td>
					<td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2024-07-16</td> <!-- temporals.format(들어갈 함수, "나타내고 싶은 함수") -->
					<td>
						<button class="btn custom-btn btn-danger user" th:data-user-id="${user.id}">삭제</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function(){
		$(".user").on("click", function(){
			let num = $(this).data("user-id");
			alert(num);
			
			$.ajax({
				type: "delete"
				, url : "/user/delete"
				, data : {"userId" : num}
				, success:function(data) {
					if(data.code == 200) {
						alert("삭제가 완료되었습니다.");
						location.reload(true);
					} else {
						alert("문제가 발생하였습니다.");
					}
				}
				, error:function(e) {
					alert("서버에 문제가 발생하였습니다");
				}
			});
		});
	});
    </script>
</th:block>