<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.keyboardsba.alert.mapper.AlertMapper">
 	<insert id="insertAlert">
 		INSERT INTO `alert`
 		(
			`userId`
			,`subject`
			,`content`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{subject}
 			,#{content}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<select id="selectAlertList" resultType="com.keyboardsba.alert.domain.Alert">
 		SELECT 
 			`id`
			,`userId`
			,`subject`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`alert`
 	</select>
 	
 	<delete id="deleteAlert">
 		DELETE
 		FROM
 			`alert`
 		WHERE
 			`id` = #{alertId}
 	</delete>
 </mapper>