<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.keyboardsba.chat.mapper.ChatMapper">
 	<insert id="insertChat" parameterType="map">
 		INSERT INTO `comment`
 		(
 			`userId`
 			,`loginId`
			,`itemId`
			,`content`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{loginId}
 			,#{itemId}
 			,#{content}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<select id="selectChatList" parameterType="int" resultType="com.keyboardsba.chat.domain.Chat">
 		SELECT
 			`id`
			,`loginId`
			,`itemId`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`comment`
		WHERE
		`itemId` = #{itemId}
 	</select>
 </mapper>