<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.keyboardsba.item.mapper.ItemMapper">
	<insert id="insertItem" parameterType="map">
		INSERT INTO `item`
		(
			`userId`
			,`loginId`
			,`title`
			,`price`
			,`status`
			,`type`
			,`content`
			<if test="time != null">
			,`time`
			</if>
			,`imageUrl`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{loginId}
			, #{productName}
			, #{productPrice}
			, #{productStatus}
			, #{productValue}
			, #{writeTextArea}
			<if test="time != null">
			, #{time}
			</if>
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert> 
	
	<select id="selectItemListByType" parameterType="String" resultType="com.keyboardsba.item.domain.Item">
		SELECT
			`id`
			,`loginId`
			,`title`
			,`price`
			,`status`
			,`type`
			,`imageUrl`
		FROM
			`item`
		WHERE
			`type` = #{type}
	</select>
	
	<select id="selectItemByItemId" parameterType="int" resultType="com.keyboardsba.item.domain.Item">
		SELECT
			`id`
			,`userId`
			,`loginId`
			,`title`
			,`price`
			,`status`
			,`type`
			<if test="time != null">
			,`time`
			</if>
			,`content`
			,`imageUrl`
		FROM
			`item`
		WHERE
			`id` = #{itemId}
	</select>
	
	<select id="selectItemByItemIdAndUserId" parameterType="map" resultType="com.keyboardsba.item.domain.Item">
		SELECT
			`id`
			,`userId`
			,`loginId`
			,`title`
			,`price`
			,`status`
			,`content`
			,`type`
			,`time`
			,`content`
			,`imageUrl`
		FROM
			`item`
		WHERE
			`id` = #{itemId} AND
			`userId` = #{userId}
	</select>
	
	<select id="selectUserId" parameterType="int" resultType="int">
		SELECT
			`userId`
		FROM
			`item`
		WHERE
			`id` = #{contactId}
	</select>
	
	<update id="updateItem" parameterType="map">
		UPDATE `item`
		SET
			`title` = #{productName}
			, `price` = #{productPrice}
			, `status` = #{productStatus}
			, `type` = #{productValue}
			, `content` = #{writeTextArea}
			<if test="time != null">
			,`time`= #{time}
			</if>
			<if test="imagePath != null"> <!-- 업로드가 실패했거나 업로드가 안됐거나.. -->
			, `imageUrl` = #{imagePath}
			</if>
			, `updatedAt` = NOW()
		WHERE
			`id` = ${itemId}
	</update>
	
 </mapper>