<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.keyboardsba.post.mapper.PostMapper">

	<select id="selectPostListTest" resultType="map">
		SELECT
			*
		FROM
			`post`
	</select>
	
	<select id="selectPostList" parameterType="map" resultType="com.keyboardsba.post.domain.Post">
		SELECT
			`id`
			,`userId`
			,`subject`
			,`content`
			,`imageUrl`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
			<if test="direction == 'next'">
			<![CDATA[
			WHERE
			`id` < #{standardId}
			]]>
			ORDER BY `id` DESC
			</if>
			<if test="direction == 'prev'">
			<![CDATA[
			WHERE
			`id` > #{standardId}
			]]>
			</if>
			<if test="direction == null">
			ORDER BY `id` DESC
			</if>
		LIMIT ${limit} <!-- limit은 작은 다움표가 붙이면 작동이 되지 않는다. #{limit} : 이대로 사용하면 에러가 난다. / 지금은 고쳐짐-->
			<!-- 원래는 #{} : 라고 적었던 친구들은 ``를 자동적으로 붙여주는 친구임. 원래는 ${}이런식으로 설정을 해야한다. -->
	</select>
	
	<select id="selectPostIdAsSort" parameterType="String" resultType="int">
		SELECT
			`id`
		FROM
			`post`
		ORDER BY `id` ${sort}
		LIMIT 1
	</select>
	
	<insert id="insertPost" parameterType="map">
		INSERT INTO `post`
		(
			`userId`
			,`subject`
			,`content`
			,`imageUrl`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{subject}
			, #{content}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectPostByPostId" parameterType="map" resultType="com.keyboardsba.post.domain.Post">
		SELECT
			`id`
			,`userId`
			,`subject`
			,`content`
			,`imageUrl`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}	
	</select>
	
	<update id="updatePostByPostId" parameterType="map">
		UPDATE `post`
		SET
			`subject` = #{subject}
			, `content` = #{content}
			<if test="imagePath != null"> <!-- 업로드가 실패했거나 업로드가 안됐거나.. -->
			, `imageUrl` = #{imagePath}
			</if>
			, `updatedAt` = NOW()
		WHERE
			`id` = ${postId}	
	</update>
	
	<delete id="deletePostByPostId" parameterType="int">
		DELETE FROM
			  `post`
		WHERE
			`id` = #{postId}
	</delete>
</mapper>