<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="detail-box d-flex justify-content-center">
		<div>
			<div class="d-flex justify-content-center">
				<h1 class="m-4 font-weight-bold">세부 페이지</h1>
			</div>
				<div class="d-flex justify-content-center mb-5">
					<div class="col-4"> <!-- 그림 -->
						<div class="my-3" th:if="${item.imageUrl != null}">
							<img th:src="${item.imageUrl}" alt="본문 이미지" class="img">
						</div>
					</div>
					<div class="col-8"> <!-- 품목명들 경매 -->
						<div class="d-flex m-2">
							<span class="mr-2 col-4">경매 물품:</span>
							<span th:text="${item.title}"></span>
						</div>
						<div class="d-flex m-2">
							<span class="mr-2 col-4">시작 금액:</span>
							<span th:text="${item.price}"></span>
							<span>원</span>
						</div>
						<div class="d-flex m-2">
							<span class="mr-2 col-4">상태 종류:</span>
							  <span th:text="${item.status}"></span>
						</div>
						<div class="d-flex m-2">
							<span class="mr-2 col-4">물품 종류:</span>
							  <span th:text="${item.type}"></span>
						</div>
						<div class="d-flex m-2">
							<span class="mr-2 col-4">남은 시간:</span>
							<span th:text="${#temporals.format(item.time, 'yyyy년 MM월 dd일  HH시 mm분')}"></span>
						</div>
					</div> <!-- 품목 명들 끝 -->
				</div>
				
				<div>
					<div class="mb-4">
						<h3>설명글</h3>
						<a href="#" class="btn btnRed paidBtn mr-3" th:data-paid-id="${item.id}">입찰</a>
						<a href="#" class="btn btnRed chatBtn" th:data-chat-id="${item.id}">채팅</a>
					</div>
					<div class="chooseChat m-2">
						
					</div>
				</div>
				<br>
				<div class="d-flex justify-content-center m-3">
						<a href="#" class="btn btnCheck callBtn" th:data-contact-id="${item.Id}" data-toggle="modal" data-target="#Modal">연락하기</a>
						<a th:href="|/auction/auction-update-view?itemId=${item.id}|" th:if="${item.userId == session.userId}" id="updateBtn" class="btn btnCheck ml-5">수정하기</a>
				</div>
				</div>
				<div class="modal fade" id="Modal">
				    <div class="modal-dialog modal-dialog-centered">
				        <div class="modal-content">
				            <div class="modal-header">
				                <h5 class="modal-title">연락하기</h5>
				                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                    <span aria-hidden="true">&times;</span>
				                </button>
				            </div>
				            <div class="modal-body" id="modalContent">
				                <!-- 모달 내용 -->
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
				            </div>
				        </div>
				    </div>
				</div>
		</div>
</section>

<th:block layout:fragment="script">
	<script>
	$(document).ready(function(){
		$(".callBtn").on("click", function(e){
			e.preventDefault();
			let contactId = $(this).data("contact-id");
			$("#Modal").data('contact-id', contactId);
			// console.log(contactId); //확인 완료
			
			$.ajax({
				type : "post"
				, url : "/item/contact"
				, data : {"contactId" : contactId}
				, success:function(data) {
					if(data.code == 200) {
						$('#modalContent').empty();
						$('#modalContent').append(data.result);
						$('#Modal').modal('show');
					} else {
						alert("문제가 발생했습니다.");
					}
				}
				, error:function(e) {
					alert("열기에 실패하셨습니다.");
				}
			});
		});
		
		$(".chatBtn").on("click", function(e) {
			e.preventDefault();
			let chatId = $(this).data('chat-id');
			alert("채팅 알림 눌림");
			
			$(".chatBtn").removeClass("btnRed");
			$(".chatBtn").addClass("btnCheck");
			$(".paidBtn").removeClass("btnCheck");
			$(".paidBtn").addClass("btnRed");
			
			$.ajax({
				url : "/auction/chat"
				, data : {"chatId" : chatId}
				, success:function(data) {
					$(".chooseChat").html(data);
				}
				, error:function() {
					alert("문제가 발생하였습니다.");
				} 
			});
		});
		
		$(".paidBtn").on("click", function(e) {
			e.preventDefault();
			let paidId = $(this).data('paid-id');
			
			// alert("배팅 알림 눌림");
			$(".paidBtn").removeClass("btnRed");
			$(".paidBtn").addClass("btnCheck");
			$(".chatBtn").removeClass("btnCheck");
			$(".chatBtn").addClass("btnRed");
			
			$.ajax({
				url : "/auction/paid"
				, data : {"paidId" : paidId}
				, success:function(data) {
					$(".chooseChat").html(data);
				}
				, error:function() {
					alert("문제가 발생하였습니다.");
				}
			});
		});
	});
	</script>
</th:block>