<div>
	<div class="outline">
		<h4 class="ml-2">입찰</h4>
		<div th:each="paid : ${paidList}" class="ml-2">
			<span class="font-weight-bold" th:text="${paid.loginId}">댓글쓰니</span>
			<span th:text="|${paid.paid}원 입찰|">댓글 내용임</span>
		</div>
	</div>
	
	<div class="comment-write d-flex border-top mt-2">
		<input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="comment-input form-control border-0 mr-2" placeholder="금액 작성">
		<button type="button" class="buy btn btn-light" th:data-user-id="${session.userId}" th:data-item-id="${item.id}">게시</button>
	</div>
</div>

<th:block layout:fragment="script">
	<script>	
		$(".buy").on("click", function(){
			// alert("입찰 댓글 버튼 클릭"); 성공
			let userId = $(this).data('user-id');
			
			 if(!userId) {
					alert("로그인을 해주세요");
					location.href="/user/sign-in-view";
					return;
			}
			 
			let itemId = $(this).data('item-id');
			
			console.log(userId);
			console.log(itemId);
			
			let content = $(this).siblings(".comment-input").val().trim();
			
			// 만약 입력을 하지 않았을 경우
			 if(!content) {
				alert("댓글내용을 작성해야합니다.");
				return;
			 }
			
			// 만약 입찰가보다 가격이 낮을 경우
			 $.ajax({
				type:"post"
				, url : "/auction/paid"
				, data : {"itemId":itemId, "content":content}
				, success:function(data) {
					if(data.code == 200) {
						$.ajax({
							url : "/auction/paid"
							, data : {"paidId" : itemId}
							, success:function(data) {
								$(".chooseChat").html(data);
							}
							, error:function() {
								alert("문제가 발생하였습니다.");
							} 
						});
					} else if(data.code == 403) {
						// 비로그인
						alert(data.error_message);
						location.href="/user/sign-in-view";
					} else if(data.code == 400) {
						// 입찰 금액이 낮을 때,
						alert(data.error_message);
						return;
					} else {
						alert(data.error_message);
						}
					}
					, error:function(e) {
							alert("댓글쓰기에 실패하였습니다.")
					}
				});
		});
	</script>
</th:block>
		
