<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-50">
		<h1>글목록</h1>
		
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post, count: ${postList}"> <!-- 리스트를 합치기에는 따로 하기그래서 따로 알아본 결과로는 이런식으로도 합칠수있다고 하더라. 원래 같으면 카드뷰처럼 하는게 좋긴하다만.. -->
					<td th:text="${post.id}">1</td> 
					<td><a th:href="|/post/post-detail-view?postId=${post.id}|" th:text="${post.subject}"></a></td>
					 <td th:text="${userList[count.index].loginId}"></td>
					<td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2024-07-16</td> <!-- temporals.format(들어갈 함수, "나타내고 싶은 함수") -->
				</tr>
			</tbody>
		</table>
		
		<!-- 페이징 -->
		<div class="text-center">
			<a th:if="${prevId != 0}" th:href="|/post/post-list-view?prevId=${prevId}|" class="mr-5">&lt;&lt; 이전</a>
			<a th:if="${nextId != 0}" th:href="|/post/post-list-view?nextId=${nextId}|">다음 &gt;&gt;</a>
		</div>
		
		<!-- 글쓰기 버튼 -->
		<div class="d-flex justify-content-end">
			<a href="/post/post-create-view" class="btn btn-warning">글쓰기</a>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>